/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
overflow: hidden;  
    margin: 0;
    padding: 0;
}

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    /* background-image: url('../public/11.png'); */
    background-image: url('assets/11.png');

}