.update-pharmacy-card {
  margin-top: 25vh;
  width: 100%;
  max-width: 500px;
  margin-left: 35vw;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  text-align: center;
  color: #3f51b5;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
}

button {
  width: 100%;
  margin-top: 20px;
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
}

button:disabled {
  background-color: #b0bec5;
}



.back-button {
  position: absolute;
  top: 8vh;
  right: 1vw;
  background-color: transparent;
  border: 2px solid #35b2c0;
  color: #35b2c0;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 6vw;
}

.back-button:hover {
  background-color: #35b2c0;
  color: white;
  transform: scale(1.05);
}

.back-button:active {
  transform: scale(0.95);
}


.custom-label {
  position: absolute;
  top: 11vh;
  margin-left: 47vw;
  transform: translateX(-50%);
  font-size: 10vh;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  color: #35b2c0b2;
  text-shadow:
    1px 1px 2px black,
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black;
}