/* הגדרת ה-footer */
footer {
  
    background-color: #333; /* צבע רקע כהה */
    color: white; /* צבע טקסט בהיר */
    padding: 20px 0; /* רווחים מעל ומתחת */
    text-align: center; /* טקסט במרכז */
    font-size: 14px; /* גודל טקסט */
    position: absolute; /* שינוי למיקום מוחלט */
    bottom: 0; /* הצמדת הפוטר לתחתית */
    width: 100%; /* רוחב מלא */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* הצללה עדינה */
    margin-bottom: 0; /* לא להוסיף מרווחים נוספים למטה */
  }
  
  /* הגדרת כל הגוף של הדף */
  body, html {
    height: 100%; /* ווידוא שגוף הדף תופס את כל גובה המסך */
    margin: 0; /* הסרת רווחים ברירת המחדל */
  }
  
  /* אם הדף גבוה מהמסך, הפוטר יישאר בתחתית */
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* אם יש תוכן מספיק בעמוד, הפוטר לא יכסה את התוכן */
  main {
    flex: 1;
  }
  
  body {
    overflow: hidden;  /* הסתרת גלגלת בגוף */
  }
  
 footer {
    position: relative;
    height: auto;  /* מתאימים את הגובה של ההדר והפוטר */
    overflow: hidden;  /* מונעים גלילה בהדר ובפוטר */
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* גובה הפוטר */
    background-color: #110707;
    text-align: center;
    line-height: 50px; /* מיישר את הטקסט במרכז */
  }
  
  