<label class="custom-label" style="font-size: 10vh;">login as admin</label>

<div class="form-container">
    <form [formGroup]="myForm" (ngSubmit)="loginPharmacy()">
        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Enter Manager Name</mat-label>
            <input matInput id="manager" formControlName="manager" placeholder="Enter manager name">
            @if(myForm.get('manager')?.invalid && myForm.get('manager')?.touched){
            <mat-error>Invalid!</mat-error>}
        </mat-form-field>

        <mat-form-field appearance="fill" class="input-field">
            <mat-label>Enter Password</mat-label>
            <input matInput id="password" formControlName="password" type="password" placeholder="Enter password">
            @if(myForm.get('password')?.invalid && myForm.get('password')?.touched){
            <mat-error>Invalid!</mat-error>}
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid"
            class="submit-button">Login</button>
    </form>
</div>

<button class="back-button" (click)="back()"> ➡️ Back</button>