
  
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    height: 20vh;
}

.login-buttons {
    display: flex;
    gap: 15px;
    
}

.btn {
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.login-btn {
  width: 12vw;
  /* height: 10vh; */
    background: linear-gradient(135deg, #35b2c0b2, #41bdcbb2);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 7.5vh;

}

.login-btn:hover {
    background: linear-gradient(135deg, #2b8c96b2, #35b2c0b2);
    transform: scale(1.05);
}

.signup-btn {
    background: linear-gradient(135deg, #29b5c4b2, #4b98a1b2);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 14px 30px;
    font-weight: bold;

}

.signup-btn:hover {
    background: linear-gradient(135deg, #81bcdf, #2db4d0);
    transform: scale(1.08);
    
}
